body{
    background-color: whitesmoke;
}
.rowspec {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

.rowspec div {
    height: 230px;
    border-radius: 10px;
}

.contentspec {
    padding: 20px 0 40px 10px;
    color: white;
    width: 100%;
    position: relative;
}

.contentspec .btn {
    color: white;
    width: 190px;
    text-align: start;
    margin-top: 40px;
    margin-left: -10px;
}

.image {
    position: relative;
    bottom: -10px;
    right: -130px;
}
