.container{
    width: 50%;
    min-height: 430px;
    margin: 0 auto;
    margin-top: 11vh;
    background-color: #eee;
    box-shadow: 5px 10px 8px 10px #888888;
    display: flex;
    flex-direction: column;
}

.child{
    border-bottom: 1px solid rgba(99, 99, 99, 0.3);
    width: 100%;
    height: calc(300px/4);
    text-align: center;
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1{
    text-decoration: none;
    color: white;
    background-color: #34ee;
    width: 120px;
    padding: 12px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.btn:hover{
    transition: 0.3s ease;
    background-color: rgba(9, 28, 245, 0.933);
    cursor: pointer;
}

.title{
    font-size: 3.5vw;
    font-weight: bold;
    word-spacing: 2px;
    min-height: 320px;
    padding: 40px 0;
}

input[type="radio"]:hover{
    cursor: pointer;
}

.sccore{
    background-color: red;
    min-width: 300px;
    height: 100px;
    margin: 0 auto;
    color: white;
    display: flex;
    max-width: 800px;
    justify-content: space-around;
    text-align: center;
}